APP_NAME="SPES Online Application"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

PESO_PHONE=09064522617
PESO_EMAIL=pesolallo1581@gmail.com
PESO_FACEBOOK_URL=https://www.facebook.com/share/1D7MauEodf/
PESO_OFFICE_NAME="PESO Lal-lo"
PESO_ADDRESS="P. DUPAYA STREET, CENTRO, LAL-LO, CAGAYAN, 3509"
PESO_MAP_EMBED_URL="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3099.2885291216357!2d121.65834367275241!3d18.200145817152396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3386005cd5b78b43%3A0x4aa0d502f7f1514f!2sLal-lo%20Municipal%20Hall!5e1!3m2!1sen!2sph!4v1790947438937!5m2!1sen!2sph"
PESO_OFFICE_HOURS="Monday-Sunday, 8:00 AM-5:00 PM (Lunch break: 12:00 PM-1:00 PM)"
PORTAL_DEVELOPER_NAME=DEVELOPMENT_TEAM_NOT_CONFIGURED
PORTAL_DEVELOPER_EMAIL=DEVELOPER_EMAIL_NOT_CONFIGURED
PORTAL_DEVELOPER_PHONE=DEVELOPER_PHONE_NOT_CONFIGURED

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

HASH_DRIVER=argon2id
HASH_VERIFY=false

ADMIN_EMAIL=sheriffelsuarez@gmail.com
ADMIN_PASSWORD=

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=smtp
MAIL_SCHEME=
MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"